<crud [listToolbarTitle]="'Pesquisa de Tipos de Despesas'"
      [editToolbarTitle]="'Cadastro de Tipo de Despesa'"
      (filtrar)="doFilter()"
      (novoCadastro)="novaLoja()"
      (salvar)="doSave(this.model)"
      (clear)="doClear()">

  <!------------------- LIST CRUD TEMPLATE -------------------->
  <div crud-list-filter-fields *ngIf="Mode == ModeEnum.List">
    <dx-form #mainForm>
      <dxi-item itemType="group" [colCount]="2">
        <dxi-item [label]="{text:'Nome'}"
                  [template]="'nomeTemplate'">

        </dxi-item>

        <dxi-item [label]="{text:'Data Criação'}"
                  [template]="'criacaoTemplate'">

        </dxi-item>
      </dxi-item>
      <dxi-item [label]="{text:'Situação'}"
                [template]="'situacaoTemplate'">

      </dxi-item>

      <!----------------- Templates ----------------->

      <div *dxTemplate="let data of 'nomeTemplate'">
        <dx-text-box [width]="500"
        >

        </dx-text-box>
      </div>
      <div *dxTemplate="let data of 'criacaoTemplate'">
        <dx-date-box [width]="200"
                     [showClearButton]="true"
                     [useMaskBehavior]="true"
                     [displayFormat]="'dd/MM/yyyy'">

        </dx-date-box>
      </div>

      <div *dxTemplate="let data of 'situacaoTemplate'">
        <dx-select-box [width]="200"
                       [items]="situacaoAtivoInativo"
                       [showClearButton]="true">

        </dx-select-box>
      </div>
    </dx-form>
  </div>


  <div crud-list-result-fields *ngIf="Mode == ModeEnum.List">
    <dx-data-grid
      [dataSource]="dataSource"
      [rowAlternationEnabled]="true" >
      <dxi-column dataField="nome">

      </dxi-column>

      <dxi-column dataField="dataCriacao"
                  cellTemplate="dataTemplate"
                  [width]="'auto'">

      </dxi-column>

      <dxi-column dataField="pagFornecedor"
                  cellTemplate="simNaoTemplate">

      </dxi-column>

      <dxi-column dataField="pagFuncionario"
                  cellTemplate="simNaoTemplate">

      </dxi-column>

      <dxi-column dataField="situacao"
                  cellTemplate="situacaoTemplate">

      </dxi-column>

      <!----------------- Templates ----------------->


      <div *dxTemplate="let data of 'dataTemplate'">
        {{ data.value ? (data.value | date:"dd/MM/yyyy") : "-" }}
      </div>

      <div *dxTemplate="let data of 'situacaoTemplate'">
        {{ data.value && data.value == true ? "Ativo" : "Inativo" }}
      </div>

      <div *dxTemplate="let data of 'simNaoTemplate'">
        {{ data.value && data.value == true ? "Sim" : "Não" }}
      </div>


    </dx-data-grid>
  </div>

  <!------------------- EDIT CRUD TEMPLATE -------------------->

  <div crud-edit-template *ngIf="Mode == ModeEnum.Edit">

    <dx-tab-panel>
      <dxi-item title="Tipo Despesa">
        <dx-form [(formData)]="tipoDespesa">

          <dxi-item dataField="nome"
                    [isRequired]="true"
                    [label]="{text:'Nome'}"
                    [template]="'NomeTemplate'">

          </dxi-item>

          <dxi-item itemType="group" [colCount]="2">
            <dxi-item dataField="dataCriacao"
                      [template]="'dataCriacaoTemplate'">

            </dxi-item>
            <dxi-item dataField="situacao"
                      [template]="'situacaoTemplate'">

            </dxi-item>
          </dxi-item>

          <dxi-item dataField="pagFornecedor"
                    [template]="'pagFornecedorTemplate'"
                    [label]="{visible:false}">

          </dxi-item>

          <dxi-item dataField="pagFuncionario"
                    [template]="'pagFuncionarioTemplate'"
                    [label]="{visible:false}">

          </dxi-item>

          <!------------------- TEMPLATE -------------------->
          <div *dxTemplate="let data of 'dataCriacaoTemplate'">
            <dx-date-box [width]="200"
                         [showClearButton]="true"
                         [useMaskBehavior]="true"
                         [displayFormat]="'dd/MM/yyyy'">

            </dx-date-box>

          </div>

          <div *dxTemplate="let data of 'situacaoTemplate'">
            <dx-switch [(value)]="model.situacao">

            </dx-switch>
          </div>

          <div *dxTemplate="let data of 'NomeTemplate'">
            <dx-text-box [width]="500"
                         [placeholder]="'Digite aqui o Nome da Despesa'"
                         [(value)]="model.nome">

            </dx-text-box>
          </div>

          <div *dxTemplate="let data of 'pagFornecedorTemplate'">
            <dx-check-box [(value)]="model.pagFornecedor"
                          [text]="'É pagamento de Fornecedor'">

            </dx-check-box>
          </div>

          <div *dxTemplate="let data of 'pagFuncionarioTemplate'">
            <dx-check-box [(value)]="model.pagFuncionario"
                          [text]="'É pagamento de Funcionario'">

            </dx-check-box>
          </div>
        </dx-form>

      </dxi-item>


    </dx-tab-panel>
  </div>


</crud>
